@mixin btncolor($color) {
  color: #fff;
  background-color: $color;
  border-color: darken($color, 10%);

  &.active,
  &:active{
    color: #fff;
    background-color: darken($color, 10%);
    border-color: darken($color, 20%);
  }

  &.focus,
  &:focus{
    color: #fff;
    background-color: darken($color, 20%);
    border-color: darken($color, 30%);
  }

  &:hover {
    color: #fff;
    background-color: darken($color, 20%);
    border-color: darken($color, 30%);
  }

}
