html, body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0;
  padding: 0; }

content {
  margin: 5px; }

.fa-tw:before {
  content: "\f099"; }

.fa-fb:before {
  content: "\f09a"; }

.fa-gp:before {
  content: "\f0d5"; }

.fa-tw-sq:before {
  content: "\f081"; }

.fa-fb-sq:before {
  content: "\f082"; }

.fa-gp-sq:before {
  content: "\f0d4"; }

.md-fab.md-button.btn-facebook {
  background-color: #3b5998; }
  .md-fab.md-button.btn-facebook:not([disabled]):hover, .md-fab.md-button.btn-facebook.md-focused:not([disabled]) {
    background-color: #1e2e4f; }

.md-fab.md-button.btn-twitter {
  background-color: #00aced; }
  .md-fab.md-button.btn-twitter:not([disabled]):hover, .md-fab.md-button.btn-twitter.md-focused:not([disabled]) {
    background-color: #006287; }

.md-fab.md-button.btn-googleplus {
  background-color: #dd4b39; }
  .md-fab.md-button.btn-googleplus:not([disabled]):hover, .md-fab.md-button.btn-googleplus.md-focused:not([disabled]) {
    background-color: #96271a; }

header {
  padding: 5px;
  margin: 5px; }
  header .logo {
    height: 40px; }

footer {
  position: absolute;
  right: 0;
  bottom: 0; }

content {
  margin: 5px; }
