<article>
    <md-toolbar>
        <h1 class="md-toolbar-tools">{{ vm.article.title }}</h1>
    </md-toolbar>
    <md-content layout-padding layout-align="start stretch" layout="column">
        <div flex>
            <div ng-if="vm.article.created">
                <p style="white-space: pre-wrap;">{{ vm.article.content }}</p>
                <img style="border-radius: 50%" src="{{vm.article.creatorImage}}" title="{{vm.article.creatorName}}" alt="{{vm.article.creatorName}}">
                <p>{{vm.article.creatorName}} on {{vm.getDate().toLocaleDateString()}} at {{vm.getDate().toLocaleTimeString()}}</p>
            </div>
        </div>
        <div layout="row" layout-align="end center">

            <md-button ng-if="vm.canEdit" class="md-raised md-alternate" ng-click="vm.edit()">
                <md-icon md-svg-icon="file-document" aria-label="Edit Article""></md-icon>
                Edit Article
            </md-button>
        </div>
    </md-content>
</article>