#home {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  color: #fff;
  background: url(/media/images/code.png) no-repeat left top scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;

  .text-vertical-center {
    background-color: rgba(0,0,0, .75);
    padding: 10%;
  }

  .logo {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom:25px;
  }

  .btn-lg {
    margin:20px;
  }
}

