<header id="page-top">
    <nav class="navbar navbar-fixed-top navbar-inverse clearfix">
        <div class="container-fluid">
            <div class="navbar-header pull-left">
                <a class="navbar-brand" href="/"><img src="/media/images/logo/starting-dreams-light.svg" alt="Starting Dreams" title="Starting Dreams" class="logo"/></a>
            </div>
            <button type="button" class="btn btn-link navbar-btn pull-right visible-xs-inline-block" ng-click="vm.toggleSidebar()"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li ng-repeat="nav in vm.nav" ui-sref-active="active"><a ui-sref="{{nav.sref}}"><i class="fa" ng-class="nav.icon"></i> {{ nav.label }}</a></li>
                </ul>
            </div>

        </div>
    </nav>
</header>